# Server
PORT=3000
NODE_ENV=production

# Database (Supabase / PostgreSQL)
DATABASE_URL="postgresql://postgres.msozshwatonyxnkaqjfs:H0angh0a1256@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Optional local DB config (if not using DATABASE_URL)
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_DATABASE=postgres
DB_SYNCHRONIZE=true
DB_SSL=true

# Redis (BullMQ / Notifications)
REDIS_HOST=localhost
REDIS_PORT=6379

# Google OAuth
GOOGLE_CLIENT_ID=1091340277829-gkl7144v173sr8j9asftl5ppes4pp8nd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://family-management-eight.vercel.app/api/v1/auth/google/callback

# JWT
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=1d

# Google Cloud Storage
GCS_PROJECT_ID=your_project_id
GCS_KEY_FILE=path_to_gcs_key.json
GCS_BUCKET_NAME=family_mgmt_assets

# Frontend URL
FRONTEND_URL=https://johnnyhoang.vercel.app
