# API URL (Point to your Vercel backend URL or localhost)
VITE_API_URL=family-management-eight.vercel.app/api/v1

# Google OAuth (If using a frontend-based library like @react-oauth/google)
# this is from hoang loki, no need as this client server app, only config from server
VITE_GOOGLE_CLIENT_ID=1091340277829-gkl7144v173sr8j9asftl5ppes4pp8nd.apps.googleusercontent.com
